.contact-bg-cont {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.cont-left-cont {
    width: 40%;
    font-size: larger;
    margin-top: 30px;
}


.need {
    font-size: large;
    font-weight: 600;
    display: inline;
}

.subhe {
    margin-top: 20px;
    margin-bottom: 10px;
}

.conta-h {
    margin-bottom: 20px;
}

.cont-pa {
    display: block;
    font-size: 20px;
    color: #000;

}

.cont-ri-cont {
    width: 40%;
    background: white;
    border-radius: 8px;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.cont-inp-cont {
    margin: 15px;
    font-size: 20px;
    width: 50%;
}

.text {
    width: 100%;
    height: 55px;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: rgb(233, 231, 231);
    outline: none;
    font-size: 15px;
    padding: 10px;
}

.text-text {
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: rgb(233, 231, 231);
    outline: none;
    font-size: 15px;
    padding: 10px;
}

.inp-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inp-cont-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px;
    font-size: large;
    cursor: pointer;
    outline: none;
}

.sub-buttons {
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: large;
    margin: 5px;
    cursor: pointer;
    outline: none;
}

@media (max-width: 425px) {
    .contact-bg-cont {
        flex-direction: column;
    }

    .cont-left-cont {
        width: 80%;
        font-size: larger;
    }

    .cont-pa {
        align-self: flex-start;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .cont-ri-cont {
        width: 80%;
    }

    .sub-buttons {
        font-size: medium;
    }

    .buttons {
        font-size: medium;
    }
}

@media (max-width: 768px) {
    .inp-cont {
        flex-direction: column;
        align-items: flex-start;
    }

    .cont-inp-cont {
        width: 90%;
        margin: 0px;
    }

    .cont-pa {
        font-size: 15px;
    }

    .sub-buttons {
        font-size: medium;
    }

    .buttons {
        font-size: medium;
    }
}