.footer-bg-cont {
    background-color: #2D2C2C;
    text-align: center;
    padding-bottom: 30px;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.footer-butns-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 50px;
}

.footer-btn {
    padding: 15px;
    border: none;
    opacity: 1;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;

    font-weight: 600;
    font-style: Semi Bold;
    font-size: var(--desc-font-size);
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #fff;
    cursor: pointer;
    outline: none;


    span {
        color: green;
    }
}
.footericonscont{
    display: none;
}
.footernav-up-cont{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 50px;
    border-bottom: 0.5px solid gray;
}

.footercontacticons{
    font-size: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
}

@media (max-width: 1024px) {
    .footer-bg-cont {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 768px){
    .footericonscont{
        display: inline-block;
        width: 100%;
    }
.footer-bg-cont {
        padding-left: 80px;
        padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
    }
    .voc-p{
        margin-top: 10px;
    }
    .footer-butns-cont{
        margin-top: 30px;
    }
    .footer-btn{
        font-size: 13px;
    }
}

@media (max-width: 430px){
    .footer-bg-cont{
        padding: 30px;
        padding-left: 30px;
        padding-right: 30px;
        height: 500px;
    }
    .footercontacticons{
        width: 20px;
    }
}

@media (max-width: 320px){
    .footer-btn{
        font-size: 12px;
        padding: 13px;
    }
}